/* Header.module.css */

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white; /* Pink color with 80% opacity */
    border-bottom: 2px solid black;
    padding: 1.2rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: row;
    }
  }

  .pharmacyName{
    position: relative;
    right: 14rem;
    margin: 0 0 1rem 0;
    text-decoration: none;
    @media (max-width: 768px) {
      right: 0;
    }
  }
  
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .ribbon,
  .pharmacy {
    font-size: 3.0rem;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;

    @media (max-width: 768px) {
      font-size: 2.0rem;
    }
  }
  
  .ribbon {
    color: #f06292;
    margin-right: 8px;
  }
  
  .pharmacy {
    color: #4caf50;
  }
  
  .tabButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4081;

    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .tabButton {
    background-color: #ff4081; /* Pink color */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .activeTab {
    background-color: #d81b60 !important;
  }
  
  .tabButton:hover {
    background-color: #d81b60;
    /* transform: scale(1.1); */
    border-radius: 0%;
  }
  
  .activeTab {
    font-weight: bold;
  }