.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; 
    padding: 20px;
    text-align: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
  }
  
  .logo{
    height:180px;
  }
  .logoContainer img {
    height: 50px; 
  }
  
  .contactInfo p {
    margin: 5px 0;
    color: #333; 
  }
  
  .socialMediaLinks a img {
    height: 30px; 
    margin: 0 10px;
  }
  
  .copyRightInfo p {
    color: #666; 
  }
  

/* 미디어 쿼리를 사용하여 반응형 디자인 적용 */
@media (max-width: 768px) {
  .footerContainer {
    padding: 10px;
  }

  .footerContent {
    flex-direction: column;
    text-align: center;
  }

  .contactInfo, .socialMediaLinks, .copyRightInfo {
    margin-bottom: 20px;
  }

  .socialMediaLinks img {
    margin: 0 5px; /* 아이콘 간격 줄이기 */
  }
}

  